<div class="text-center" style="text-align: right;margin-right: 40%">
  <div class="row">
    <div class="col s12">
      Username
      <div class="input-field inline">
        <input  type="text" class="validate" name="username" autocomplete="off" [(ngModel)]="userCredentials.username">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      Password
      <div class="input-field inline">
        <input  type="password" id="password"  name="passwordUser" [(ngModel)]="userCredentials.password">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      Email
      <div class="input-field inline">
        <input  type="email" id="email" class="form-control validate" name="userEmail" [(ngModel)]="userCredentials.email">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="text-center">
  <div class="row">
    <div class="col-md-2"  style="margin-left: 25%">
      <p>Role assigned</p>
    </div>
    <div class="col-md-4">
      <div class="relative">
        <select class="form-control" name='recommend' [(ngModel)]="roleUser">
          <option *ngFor="let role of rolesFor" [ngValue]="roleUser.id==role.id ? roleUser:role" >
            {{role.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="text-center" style="text-align: right;margin-right: 40%">

  <div class="row">
    <div class="col s12">
      IDNP
      <div class="input-field inline">
        <input  type="number"  id="idnp" required minlength="13" name="idnp" [(ngModel)]="userCredentials.idnp">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Phone
      <div class="input-field inline">
        <input  type="number" class="validate" name="userPhone" [(ngModel)]="userCredentials.phone">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      First name
      <div class="input-field inline">
        <input  type="text" class="validate"  name="userName" [(ngModel)]="userCredentials.firstname">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Last name
      <div class="input-field inline">
        <input  type="text" class="validate" name="userNameLast" [(ngModel)]="userCredentials.lastname">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>



</div>

<div *ngIf="isEmployee(roleUser)">
  <hr>
  <div class="text-center" style="text-align: right;">
    <div class="row">
      <div class="col-md-2"  style="margin-left: 25%">
        <p>Biroul Executorului</p>
      </div>
      <div class="col-md-4">
        <div class="relative">
          <select class="form-control" name='recommend'  >
            <option *ngFor="let org of userOrganizations"  >
              {{org.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-md-2"  style="margin-left: 25%">
        <p>Functie</p>
      </div>
      <div class="col-md-4">
        <div class="relative">
          <select class="form-control" name='recommend' >
            <option *ngFor="let function of userWorkFunctions" >
              {{function.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>



<button type="submit" (click)="submitToServer()" class="btn btn-default"   style="float: right">
  Submit
</button>
