.row{
  margin-bottom: 0!important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background-color: transparent;

  border: 1px solid #9e9e9e;
  border-radius: 5px;
  outline: none;
  height: 2rem;
  width: 75%!important;
  font-size: 0.9rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body{
}
.form-horizontal .control-label {
  margin-bottom: 0;
  text-align: right;
}
select{
  /*border-top: none!important;*/
  /*border-left: none!important;*/
  /*border-right: none!important;*/
  /*box-shadow: none!important;*/
  /*border-radius: 0!important;*/
  font-size: small;
}
.row{

}

.span{
  font-family: 'Montserrat', sans-serif;
}
.control-label{
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: black!important;
  font-weight: 500;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #aba2a2;
  border-radius: .25rem;
}
