<div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">

        <form class="form-horizontal" role="form">
          <div class="container" style="width: 90%">
            <p-panel header="Main Credentials" [ngClass]="'test_background'" id="test_background" >
              <div class="container">
                <div class="form-group">
                  <label class="col-md-3 control-label">Username</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" value="&nbsp;" name="username1" [(ngModel)]="usernameUser"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                    <input type="password" class="form-control" value="&nbsp;" name="password1" [(ngModel)]="passwordUser"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Email</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userEmail"   [(ngModel)]="userEmail"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Role assigned</label>
                  <div class="col-md-9">
                    <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="roleUser">
                      <option *ngFor="let role of userRoles" [ngValue]="role">
                        {{role.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label class="col-md-3 control-label">IDNP</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userIdnp"   [(ngModel)]="userIdnp"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Phone</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="userPhone"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">First name</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userName"   [(ngModel)]="userName"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Last name</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userNameLast"   [(ngModel)]="userNameLast"/>
                  </div>
                </div>
              </div>

            </p-panel>
            <br>

            <div *ngIf="isEmployee(roleUser)">
              <p-panel header="Work Functions and Role assigned">
                <div class="container">
                  <div class="form-group">
                    <label class="col-md-3 control-label">Birou Executoriu</label>
                    <div class="col-md-9">
                      <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="organizationUser">
                        <option *ngFor="let org of userOrganizations" value="{{org.id}}"  [ngValue]="org.id" >
                          {{org.name}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Functie</label>
                    <div class="col-md-9">
                      <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="userFunctions">
                        <option *ngFor="let function of userWorkFunctions" value="{{function.id}}"  [ngValue]="function.id" >
                          {{function.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

              </p-panel>
            </div>


          </div>

        </form>

      <br>
        <div class="text-center">
          <a class="waves-effect waves-light btn"  (click)="userCreateSave()">Save</a>
          <a class="waves-effect waves-light btn" style="background-color: red!important;color: white" routerLink="/adminDashboard/organization">Cancel</a>
        </div>
        <br>



    </div>
    <div class="ui-g-1"></div>
  </div>

