<p-growl [value]="msgs"></p-growl>

<div class="row" style="margin-right: -.8570rem;margin-left: -.8575rem;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Dosare Civile</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createDosarCivil()" style="float: right;margin-top: 1%" >Creare dosar</button>
  </div>
</div>
<p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [value]="usersPa" [globalFilter]="gb" #dt  [paginator]="true"
             [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>

  <p-column  [style]="{'width':'15%'}" field="code_case"  [sortable]="true">
    <ng-template pTemplate="header">
      Procedura
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">

      {{con['code_case']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}"  field="debitor_name" [filter]="true">
    <ng-template pTemplate="header">
      Debitorul
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['debitor_name']}}

    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'15%'}" field="Code case" field="creditor_name" [filter]="true">
    <ng-template pTemplate="header">
      Creditorul
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['creditor_name']}}

    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'15%'}" field="Code case" >
    <ng-template pTemplate="header">
      Cuantum
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['cuantum']}}

    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}" field="Code case" field="case_state" [filter]="true">
    <ng-template pTemplate="header">
      Stare
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['case_state']}}

    </ng-template>
  </p-column>
  <!--<p-column  [style]="{'width':'15%'}" field="Code case" >-->
    <!--<ng-template pTemplate="header">-->
      <!--Responsabil-->
    <!--</ng-template>-->
    <!--<ng-template let-col  let-con="rowData" pTemplate="body">-->

      <!--{{con['case_members']}}-->
    <!--</ng-template>-->
  <!--</p-column>-->
  <p-column  [style]="{'width':'20%' , 'text-align':'center'}" field="Code case" >
    <ng-template pTemplate="header">
      Acțiuni
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      <button  class="btn btn-default" style="background-color: white!important;width: 30%;text-align: center"  (click)="editDosarCivil(con['id_case'])">
        <span style="color: #1e439b" class="glyphicon glyphicon-edit"  ></span>
      </button>
      <button class="btn btn-default"   style="background-color: white!important;width: 30%" (click)="deleteDosar(con)">
        <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-default"  (click)="detaliiDosar(con['id_case'])" style="background-color: white!important;width: 30%">
        <span style="color: #1e439b" class="glyphicon glyphicon-list" ></span>
      </button>

    </ng-template>
  </p-column>

</p-dataTable>
<p-confirmDialog></p-confirmDialog>
