<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Cities</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="showDialog()" style="float: right;margin-top: 1%" >New city </button>
  </div>
</div>



<div class="container" style="width: 90%">

  <p-messages [(value)]="msgs"></p-messages>



  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [value]="cities_result"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true"  [immutable]=false [style]="{'width': '500px'}">

    <p-column field="bank_name" [style]="{'width':'20%'}">
      <ng-template pTemplate="header">
        Function
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        {{con['name']}}
      </ng-template>


    </p-column>
    <p-column field="is_active"  [style]="{'width':'10%'}" >
      <ng-template pTemplate="header">
        Is active
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedNomCity(con)" binary="true" [style]="{'margin-left' : '35%'}"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button   class="btn btn-default"  (click)="showDialog(con)" style="background-color: white!important;width: 30%;text-align: center"  >
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default"   style="background-color: white!important;width: 30%" (click)="deleteCity(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove" ></span>
        </button>
      </ng-template>
    </p-column>



  </p-dataTable>

  <p-confirmDialog></p-confirmDialog>


  <p-dialog header="New bank name" [(visible)]="display" modal="modal" width="300" [responsive]="true" >
    <p>Type new City.</p>
    <input type="text" class="form-control" value="&nbsp;" name="code" style="width:100%!important;"  [(ngModel)]="city_edit.name"/>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="saveCity()" label="Yes"></button>
      <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
    </p-footer>
  </p-dialog>


  <!--<button type="button" (click)="show()">Show</button>-->


</div>
