<p-schedule  [events]="events" [header]="header" [eventLimit]="3" [editable]="true"
            (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" ></p-schedule>
<p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
          [style]="{'overflow':'visible'}" [resizable]="false">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="vin">Title</label></div>
      <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="start">Start</label></div>
      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="end">End</label></div>
      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
      <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close"  label="Delete" [disabled]="!event?.id"></button>
      <button type="button" pButton icon="fa-check"  label="Save" [disabled]="!event?.start"></button>
    </div>
  </p-footer>
</p-dialog>
