
<div class="test" style=" background-image:url('../../assets/Rounded Rectangle 1 copy 3.png');background-repeat: no-repeat;background-size: cover;height: 100vh">

  <div class="form">
    <div class="container" style="width: 768px!important;">
      <div class="ui-g" style="border: none;margin-top: 10%;height: 350px">

        <div class="ui-g-6" style="background-color:#80afd6; text-align: -webkit-right;">
          <div class="section"></div>
          <main>
              <div class="container">


                    <div class='row'>
                      <div class='col s12'>
                      </div>
                    </div>


                      <div class='input-field col s12'>
                        <input class='validate' type='email' name='email' id='login' [(ngModel)]="username" autocomplete="off"/>
                        <label id="login_label" for='login'>Introduceți login</label>
                      </div>



                      <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' [(ngModel)]="password" autocomplete="off"/>
                        <label id="password_label" for='password' >Introduceți parola</label>
                      </div>
                <div class="center">
                  <span style="color: #ff0015;font-family: 'Segoe UI',sans-serif;font-size: medium;text-align: center!important;margin-top: 20%">{{errorMessage}}</span>

                </div>

                    <div class="text-center" >
                      <div class='row'>
                        <button type='submit' name='btn_login' (click)="Login()" class='col s12 btn btn-large waves-effect indigo' >Login</button>
                      </div>
                    </div>

                </div>

          </main>



        </div>
        <div class="ui-g-6" style="background-color: white">
          <div class="container" style="text-align: center">
            <img src="../../assets/Vector%20Smart%20Object.png" alt=""><br><br>
            <!--<span style="color: black;font-size: small;font-family: 'Segoe UI',sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id blandit metus, convallis ultrices dolor. Quisque arcu neque, vulputate eget ligula non, imperdiet tincidunt nisi.</span>-->
          </div>
          <br><br><br>
          <div class="ui-g">

            <div class="ui-g-2"><img src="../../assets/STEMA.png" alt="" style="float: right;padding-top: 10px"></div>
            <div class="ui-g-5"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small">Ministerul Justiției al Republicii Moldova</span></div>
            <div class="ui-g-5"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small">Uniunea Națională a Executorilor Judecatorești</span></div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
