/*nav{*/
/*background-color: #0065ff!important;*/
/*}*/
/*body {*/
/*font-family: Helvetica;*/
/*background: #eee;*/
/*-webkit-font-smoothing: antialiased;*/

/*}*/

/*hgroup {*/
/*text-align:center;*/
/*margin-top: 4em;*/
/*}*/

/*h1, h3 { font-weight: 300; }*/

/*h1 { color: #636363; }*/

/*h3 { color: #4a89dc; }*/

/*form {*/
/*width: 380px;*/
/*margin: 4em auto;*/
/*padding: 3em 2em 2em 2em;*/
/*background: #fafafa;*/
/*border: 1px solid #ebebeb;*/
/*box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;*/
/*}*/

/*.group {*/
/*position: relative;*/
/*margin-bottom: 45px;*/
/*}*/

/*input {*/
/*font-size: 18px;*/
/*padding: 10px 10px 10px 5px;*/
/*-webkit-appearance: none;*/
/*display: block;*/
/*background: #fafafa;*/
/*color: #636363;*/
/*width: 100%;*/
/*border: none;*/
/*border-radius: 0;*/
/*border-bottom: 1px solid #757575;*/
/*}*/

/*input:focus { outline: none; }*/


/*!* Label *!*/

/*label {*/
/*color: #999;*/
/*font-size: 18px;*/
/*font-weight: normal;*/
/*position: absolute;*/
/*pointer-events: none;*/
/*left: 5px;*/
/*top: 10px;*/
/*transition: all 0.2s ease;*/
/*}*/


/*!* active *!*/

/*input:focus ~ label, input.used ~ label {*/
/*top: -20px;*/
/*transform: scale(.75); left: -2px;*/
/*!* font-size: 14px; *!*/
/*color: #4a89dc;*/
/*}*/


/*!* Underline *!*/

/*.bar {*/
/*position: relative;*/
/*display: block;*/
/*width: 100%;*/
/*}*/

/*.bar:before, .bar:after {*/
/*content: '';*/
/*height: 2px;*/
/*width: 0;*/
/*bottom: 1px;*/
/*position: absolute;*/
/*background: #4a89dc;*/
/*transition: all 0.2s ease;*/
/*}*/

/*.bar:before { left: 50%; }*/

/*.bar:after { right: 50%; }*/


/*!* active *!*/

/*input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }*/


/*!* Highlight *!*/

/*.highlight {*/
/*position: absolute;*/
/*height: 60%;*/
/*width: 100px;*/
/*top: 25%;*/
/*left: 0;*/
/*pointer-events: none;*/
/*opacity: 0.5;*/
/*}*/


/*!* active *!*/

/*input:focus ~ .highlight {*/
/*animation: inputHighlighter 0.3s ease;*/
/*}*/


/*!* Animations *!*/

/*@keyframes inputHighlighter {*/
/*from { background: #4a89dc; }*/
/*to 	{ width: 0; background: transparent; }*/
/*}*/


/*!* Button *!*/

/*.button {*/
/*position: relative;*/
/*display: inline-block;*/
/*padding: 12px 24px;*/
/*margin: .3em 0 1em 0;*/
/*width: 100%;*/
/*vertical-align: middle;*/
/*color: #fff;*/
/*font-size: 16px;*/
/*line-height: 20px;*/
/*-webkit-font-smoothing: antialiased;*/
/*text-align: center;*/
/*letter-spacing: 1px;*/
/*background: transparent;*/
/*border: 0;*/
/*border-bottom: 2px solid #3160B6;*/
/*cursor: pointer;*/
/*transition: all 0.15s ease;*/
/*}*/
/*.button:focus { outline: 0; }*/


/*!* Button modifiers *!*/

/*.buttonBlue {*/
/*background: #4a89dc;*/
/*text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);*/
/*}*/

/*.buttonBlue:hover { background: #357bd8; }*/


/*!* Ripples container *!*/

/*.ripples {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: hidden;*/
/*background: transparent;*/
/*}*/


/*!* Ripples circle *!*/

/*.ripplesCircle {*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*transform: translate(-50%, -50%);*/
/*opacity: 0;*/
/*width: 0;*/
/*height: 0;*/
/*border-radius: 50%;*/
/*background: rgba(255, 255, 255, 0.25);*/
/*}*/

/*.ripples.is-active .ripplesCircle {*/
/*animation: ripples .4s ease-in;*/
/*}*/


/*!* Ripples animation *!*/

/*@keyframes ripples {*/
/*0% { opacity: 0; }*/

/*25% { opacity: 1; }*/

/*100% {*/
/*width: 200%;*/
/*padding-bottom: 200%;*/
/*opacity: 0;*/
/*}*/
/*}*/

/*footer { text-align: center; }*/

/*footer p {*/
/*color: #888;*/
/*font-size: 13px;*/
/*letter-spacing: .4px;*/
/*}*/

/*footer a {*/
/*color: #4a89dc;*/
/*text-decoration: none;*/
/*transition: all .2s ease;*/
/*}*/

/*footer a:hover {*/
/*color: #666;*/
/*text-decoration: underline;*/
/*}*/

/*footer img {*/
/*width: 80px;*/
/*transition: all .2s ease;*/
/*}*/

/*footer img:hover { opacity: .83; }*/

/*footer img:focus , footer a:focus { outline: none; }*/

/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image:url('../../assets/Rounded Rectangle 1 copy 3.png') ;
}

.card-container.card {
  max-width: 500px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
 * Card component
 */
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}
.group{
  height: 2rem;
  width: 75%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
  margin: 0!important;
}
.input[type=email]{
  margin: 0!important;
}
.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}
#login_label:after , #password_label:after{
  margin-bottom: 40px;
  color: black;
  font-size: medium;
  font-weight: 400!important;
}

#login_label , #password_label{
  color: black;
  font-size: medium;
  font-weight: 400!important;

}
#login , #password{
  border: solid 1px lightgray;
  margin-top: 6px;
  background-color: white;
  height: 2rem;
  color: black;

}
