
<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Organizations</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createOrganization(banks)" style="float: right;margin-top: 2%" >New Organization</button>
  </div>
</div>
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="results" [paginator]="true"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" *ngIf="results" [immutable]=false >


    <p-column  [style]="{'width':'15%'}" field="licence_code"   [filter]="true"  [sortable]="true" filterPlaceholder="Search" >
      <ng-template pTemplate="header">
        Licence Code
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['licence_code']}}
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'20%'}" field="address"   [filter]="true"  [sortable]="true" filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Address
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['address']}}
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'15%'}" field="email"   filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Email
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['email']}}
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'15%'}" field="created_date"   [sortable]="true" filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Created date
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['created_date']}}
      </ng-template>
    </p-column>

    <p-column field="created_date"  [style]="{'width':'7%'}" >
      <ng-template pTemplate="header">
        Active
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedOrganization(con)" binary="true" [style]="{'margin-left' : '35%'}"></p-checkbox>
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button  (click)="editOrganizationInTable(con['id']);" class="btn btn-default" style="background-color: white!important;width: 23%;text-align: center">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default" (click)="deleteOrganization(con)"  style="background-color: white!important;width: 23%">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-default" style="background-color: white!important;width: 23%" (click)="activatedOrganization(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-user"  ></span>
        </button>
      </ng-template>
    </p-column>
    <!--</p-row>-->
  </p-dataTable>

</div>
<p-confirmDialog></p-confirmDialog>
