<p style="font-family: 'Segoe UI', sans-serif;font-size: xx-large;color: black">{{case_numberPA}}</p>
<form-wizard style="float: right">
  <wizard-step [title]="'Document Executoriu'"  [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)" >



    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-6">
        <form #emailForm="ngForm">
        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">

          <p-header>
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date inițiale</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium"> {{state_case}} </span> </div>
          </div>


          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Data creare:</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 300;font-size: medium"> {{created_PA_date}}</span> </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul documentului executoriu:</label></div>
            <div class="ui-g-6">
              <input type="text"  class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""  style="height: 2rem;width: 100%;border: solid 1px;border-color: #999999;padding-left: 5px" [(ngModel)]="doc_executor" required>
            </div>
          </div>



          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Instituția emitentă:</label></div>
            <div class="ui-g-6">
              <p-autoComplete name="brand"  [(ngModel)]="emitent_instance" field="name" [suggestions]="emitent_resultAutoComplete" (completeMethod)="filterBrands($event)"  [size]="40" [style]="{'border-color':'#99999%'}"></p-autoComplete>
            </div>
          </div>


        </p-panel>

        <p-growl [value]="msgs"></p-growl>
        </form>
        <p-panel  header= "Documente" [toggleable]="false" [style]="{'margin-bottom':'20px'}">


          <div *ngFor="let fileContent of uploadedContent">

            <div class="ui-g" *ngIf="fileContent.is_delete==false">
              <div class="ui-g-6">
                <p>{{fileContent.file_name}}</p>
              </div>


              <div class="ui-g-4">
                <p >{{fileContent.doc_type}}</p>
              </div>

              <div class="ui-g-2">
                <button class="btn btn-default"   style="background-color: rgb(249, 131, 131)!important;!important;float: right" (click)="deleteCaseFileFromArray(fileContent)">
                  <span style="color: #000000" class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>






          </div>




          <hr>

          <div class="ui-g">
            <div class="ui-g-4"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Tip document:</label></div>

            <div class="ui-g-4">
              <select class="form-control" name='recommend' required (change)="onChangeFunction()" [(ngModel)]="choose_file_type">
                <option *ngFor="let type of document_type" [ngValue]="type" [selected]="">
                  {{type.name}}
                </option>
              </select>
            </div>
            <div class="ui-g-4" style="text-align: end" >
              <p-fileUpload id="file" mode="basic" auto="auto" [customUpload]="true" name="file" #cerere_file clear="true" (onSelect)="onSelectFile()" maxFileSize="800000000" chooseLabel="Încarcă"></p-fileUpload>
            </div>
          </div>
          <!--*ngIf="choose_file_type != ''"-->
        </p-panel>





      </div>
      <div class="ui-g-3"></div>
    </div>
    <!--<button type="submit" (click)="onComplete()" name="tempDone"></button>-->



  </wizard-step>





  <wizard-step [title]="'Debitor'" [isValid]="emailForm1.form.valid"  (onNext)="onStepDebitor($event)">

      <div class="ui-g">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
          <p-growl [value]="msgs"></p-growl>

          <p-panel  header="Debitor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP</label></div>
            <div class="ui-g-4">
              <input type="text" class="form-control"  [(ngModel)]="idnp_debitor" #text  (keyup)="myFuncDebitorIDNP()" minlength="13" maxlength="13"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP" required style="height: 2rem;width: 124%!important;border: solid 1px;padding-left: 3px;border-color: #999999" >
            </div>
            <div class="ui-g-2">
               <span style="vertical-align: sub;font-size: small">{{myText}}/13</span>
            </div>
          </div>

          <form #emailForm1="ngForm">
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="first_name_debitor" name="debitorlastname" aria-describedby="emailHelp" placeholder="Nume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
                <!--<span *ngIf="debitor_last_name">test</span>-->
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="last_name_debitor"  name="debitorfirstname" aria-describedby="emailHelp" placeholder="Prenume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Patronimic</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="patronimic_debitor"  name="debitor_patronimic" aria-describedby="emailHelp" placeholder="Patronimic" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>



            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Oraș</label></div>
              <div class="ui-g-6">
                <input type="text"  [disabled]="stateType" class="form-control" [(ngModel)]="city_debitor"  name="addressdeb" aria-describedby="emailHelp" placeholder="Oraș" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Strada</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="street_debitor"   name="debitorTest" aria-describedby="emailHelp" placeholder="Strada" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Bloc</label></div>
              <div class="ui-g-3">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="block_debitor"  name="blocdeb" aria-describedby="emailHelp" placeholder="Bloc" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Cod poștal</label></div>
              <div class="ui-g-6">
                <input type="text" class="form-control" [(ngModel)]="post_code_debitor" name="postcodedeb" aria-describedby="emailHelp" placeholder="Cod poștal"  style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;" required>
              </div>
            </div>


          </form>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii</label></div>
            <div class="ui-g-6">

              <mat-form-field>
                <input matInput  [disabled]="stateType" class="controll" [matDatepicker]="picker2" placeholder="Data nașterii" style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="birth_date_debitor">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          </p-panel>
        </div>
        <div class="ui-g-2"></div>
      </div>
  </wizard-step>




  <wizard-step [title]="'Creditor'" [isValid]="emailForm2.form.valid" (onNext)="onStepCreditor($event)" >


    <div class="ui-g">
      <div class="ui-g-2"></div>
      <div class="ui-g-8">
        <p-growl [value]="msgs"></p-growl>

        <p-panel  header="Creditor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >

          <form #emailForm2="ngForm">
          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP</label></div>
            <div class="ui-g-4">
              <!--<input type="email" class="form-control" (change)="myFuncIDNP()" [(ngModel)]="idnp_deb" #text  (keyup)="myFuncIDNP()" minlength="13" maxlength="13"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP" required style="height: 2rem" >-->
              <input type="text" class="form-control"  name="idnp_creditor" #text (keyup)="myFuncCreditorIDNP()"  minlength="13" maxlength="13" aria-describedby="emailHelp" placeholder="IDNP*" required style="height: 2rem;width: 124%!important;border: solid 1px;padding-left: 3px;border-color: #999999" [(ngModel)]="idnp_creditor" >
            </div>
            <div class="ui-g-2">
              <span style="vertical-align: sub;font-size: small">{{myTextCreditor}}/13</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume</label></div>
            <div class="ui-g-6">
              <input type="text" [disabled]="stateType" class="form-control"  name="creditor_first_name" aria-describedby="emailHelp" placeholder="Nume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="first_name_creditor" >
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume</label></div>
            <div class="ui-g-6">
              <input type="text" [disabled]="stateType" class="form-control"  name="last_name_creditor" aria-describedby="emailHelp" placeholder="Prenume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="last_name_creditor">
            </div>
          </div>


            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Patronimic</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="patronimic_creditor"  name="patronimic_creditor" aria-describedby="emailHelp" placeholder="Patronimic" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Oraș</label></div>
            <div class="ui-g-6">
              <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="city_creditor"  name="city_creditor" aria-describedby="emailHelp" placeholder="Oraș" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Strada</label></div>
            <div class="ui-g-6">
              <input type="text" [disabled]="stateType"  class="form-control" [(ngModel)]="street_creditor"   name="street_creditor" aria-describedby="emailHelp" placeholder="Strada" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Bloc</label></div>
            <div class="ui-g-3">
              <input type="text"  [disabled]="stateType" class="form-control" [(ngModel)]="block_creditor"  name="bloc_creditor" aria-describedby="emailHelp" placeholder="Bloc" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Cod poștal</label></div>
            <div class="ui-g-6">
              <input type="text"  class="form-control"  name="post_code_creditor" aria-describedby="emailHelp" placeholder="Cod poștal" required style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="post_code_creditor">
            </div>
          </div>

          </form>
          <div class="ui-g">
            <div class="ui-g-6">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii</label></div>
            <div class="ui-g-6">

              <mat-form-field>
                <input matInput class="controll" [disabled]="stateType" [matDatepicker]="picker4" placeholder="Data nașterii"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="birth_date_creditor">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4 [startAt]="endDate" ></mat-datepicker>
              </mat-form-field>
            </div>
          </div>


        </p-panel>
      </div>
      <div class="ui-g-2"></div>
    </div>








  </wizard-step>

  <div class="ui-g">

    <div class="ui-g-2"></div>


    <div class="ui-g-8">
      <wizard-step [title]="'Copii'"  (onNext)="nextAchitari()">
      <p-growl [value]="msgs"></p-growl>
      <p-panel  header="Copii" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Copii:</label></div>
          <div class="ui-g-6">
            <select class="form-control" name='recommend' required [(ngModel)]="index" style="width: 83%;border-radius: 0!important;border-color: #999999">
              <option *ngFor="let child of childrens" value='{{child.order_id}}' selected="1">{{child.order_id}} {{child.first_name}} {{child.last_name}}</option>
            </select>
          </div>
        </div>
        <br>


        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP</label></div>
          <div class="ui-g-4">
            <input type="email" (change)="myFuncChildrensIDNP()" (keyup)="myFuncChildrensIDNP()" class="form-control"  name="idnp" aria-describedby="emailHelp" [(ngModel)]="childrens[index-1].idnp" placeholder="IDNP" maxlength="13" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
          </div>
          <div class="ui-g-2">
            <span style="vertical-align: sub;font-size: small">{{myTextChilds}}/13</span>
          </div>


        </div>

        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume</label></div>
          <div class="ui-g-6">
            <input type="text" class="form-control"   name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens[index-1].last_name" placeholder="Nume" required  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume</label></div>
          <div class="ui-g-6">
            <input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens[index-1].first_name" placeholder="Prenume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
          </div>
        </div>
        <!--<div class="ui-g">-->
          <!--<div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: large">Patronimic</label></div>-->
          <!--<div class="ui-g-6">-->
            <!--<input type="text" class="form-control"  name="childrens" aria-describedby="emailHelp" [(ngModel)]="childrens[index-1].patronimic" placeholder="Patronimic" required style="height: 2rem">-->
          <!--</div>-->
        <!--</div>-->



        <div class="ui-g">
          <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii</label></div>
          <div class="ui-g-6">

            <mat-form-field>
                <input matInput [matDatepicker]="picker5" placeholder="Data nașterii"   name="date" [(ngModel)]="childrens[index-1].birth_date"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" >
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5 [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </p-panel>
      </wizard-step>
    </div>
    <div class="ui-g-2"></div>
  </div>





  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <wizard-step [title]="'Achitari'" (onNext)="achitari($event)" >
        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
          <p-header >
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date inițiale</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">{{state_case}}</span> </div>
          </div>
          <br>
          <div class="ui-g">


            <div class="ui-g-6">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Modalitatea achitării:</label></div>
            <div class="ui-g-6">
                <!--<div class="relative">-->
                  <!--<select class="form-control" name='recommend' required [(ngModel)]="payment_instance" style="width: 82%;border-color: #999999;border-radius: 0px;">-->
                    <!--<option *ngFor="let item of payment_mode" name="payment"  [selected]="(payment_instance == item) ? payment_instance:''">{{item.name}}{{payment_instance.name}}</option>-->
                  <!--</select>-->
                <!--</div>-->
              <div class="radio" style="opacity: 1!important;" *ngFor="let item of payment_mode">
                <label>
                  <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionPaymentChange(item)"  name="optradio"  [checked]="selectedPayModeID === item.id" />
                  <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{item.name}}</span>
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Durata achitării:</label></div>
            <div class="ui-g-6">
             &nbsp;
            </div>
          </div>
          <br>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">De la:</label></div>
            <div class="ui-g-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker7" placeholder=""  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="date_from">
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>



          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Pînă la:</label></div>
            <div class="ui-g-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker8" placeholder=""  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;">
                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                <mat-datepicker #picker8 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <!--<div class="ui-g">-->

            <!--<div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Copii:</label></div>-->
            <!--<div class="ui-g-6">-->

            <!--&lt;!&ndash;<p style="font-family: 'Segoe UI',sans-serif;font-size: medium" *ngFor="let child of child_array[0]">{{child.first_name}} {{child.last_name}}   {{child.majority_date}}</p>&ndash;&gt;-->

              <!--<div class="ui-g">-->
                <!--<div class="ui-g-6">-->
                  <!--De la: <br>-->
                  <!--<mat-form-field>-->
                    <!--<input matInput [matDatepicker]="picker7" placeholder=""  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="date_from">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <!--<div class="ui-g-6">-->
                  <!--Pînă la:-->
                <!--</div>-->
              <!--</div>-->



              <!--<div class="ui-g" *ngFor="let child of child_array[0]">-->
                <!--<div class="ui-g-6" *ngIf='child.first_name != ""'>-->
                  <!--{{child.first_name}} {{child.last_name}}-->
                <!--</div>-->
                <!--<div class="ui-g-6" *ngIf='child.first_name != ""'>-->
                  <!--&lt;!&ndash;{{child.majority_date}}&ndash;&gt;-->
                <!--</div>-->
                <!--<br>-->
              <!--</div>-->



            <!--</div>-->
          <!--</div>-->


          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Suma:</label></div>
            <div class="ui-g-6">
              <input type="number" class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MDL*" required [(ngModel)]="sum">

            </div>
          </div>

        </p-panel>

      </wizard-step>
    </div>
    <div class="ui-g-2"></div>
  </div>


  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <wizard-step [title]="'Conținut și Intentare'" (onComplete)="onComplete($event)">
        <div [ngSwitch]="isCompleted">
          <div *ngSwitchDefault>

      <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
        <p-header >
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: medium">Conținut și Intentare</span>
          </div>
        </p-header>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
          <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">{{state_case}}</span> </div>
        </div>
        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Adaugare membru echipă:</label></div>
          <div class="ui-g-6">

            <div class="radio" style="opacity: 1!important;" *ngFor="let team of case_team">
              <label>
                <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;margin-left: -6%;" type='checkbox' [(ngModel)]="team.is_selected"  (click)="changeTeamMembers(team)"  multiple/>
                <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{team.name}} </span>
              </label>
            </div>
          </div>
        </div>

        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Prioritate:</label></div>
          <div class="ui-g-6">
            <!--<select class="form-control" name='recommend' required [(ngModel)]="priority_instance" style="width: 82%;border-color: #999999;border-radius: 0px;">-->
              <!--<option *ngFor="let priority of priority_mode" [ngValue]="priority" value="{{priority_instance}}">{{priority.name}}</option>-->
            <!--</select>-->

            <div class="radio" style="opacity: 1!important;" *ngFor="let priority of priority_mode">
              <label>
                <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionChangePriority(priority)" name="priority_name"  [checked]="selectedPriorityID === priority.id" />
                <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{priority.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <br>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Data limită de executare:</label></div>
          <div class="ui-g-6">
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Choose an end date"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="end_date_case">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Text procedură:</label></div>
          <div class="ui-g-6">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" style="border-color: #999999;border-radius: 0!important;width: 82%!important;" [(ngModel)]="text_procedura"></textarea>
            </div>
          </div>
        </div>

      </p-panel>




          </div>
        </div>
      </wizard-step>
    </div>
    <div class="ui-g-2"></div>
  </div>

</form-wizard>


<!--<p-fileUpload id="file1" mode="basic" auto="auto" [customUpload]="true" name="file" #cerere_file clear="true"  maxFileSize="800000000"></p-fileUpload>-->
<!--<button class="btn btn-default" (click)="postFile()" >f111111</button>-->



<!--<wizard-step [title]="'Debitor'"  [isValid]="emailForm1.form.valid" (onNext)="onStepDebitor($event)">-->
