.object{
  font-family: "Segoe UI", sans-serif;
  color: black;
  font-size: x-large;
  vertical-align: text-top;
  font-weight: 500;
}
.row {
  margin-right: -0!important;
  margin-left:-0!important;
}
.object_text{
  font-family: "Segoe UI", sans-serif;
  color: black;
  font-size: medium;
  float: right;
  vertical-align: sub!important;
}
