
<style>
  select{
    font-size: small;
    color: black;
    font-family: "Segoe UI",sans-serif;
  }
  option{
    font-size: small;
    color: black;
    font-family: "Segoe UI",sans-serif;
  }
  label{
    vertical-align: sub!important;
  }
  .ui-g-5{
    padding: 0!important;
  }
</style>

<div class="ui-g">
  <div class="ui-g-6"><span style="font-size: xx-large;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500">{{case_number}}</span></div>
  <div class="ui-g-6">
        <div class="ui-g-6">
          <select class="form-control" name='recommend' style="height: 37px!important;" [(ngModel)]="stateCase" (change)="changeStateCase()">
            <option value="STRAMUTAT">STRĂMUTAT</option>
            <option value="INITIAT">INIȚIAT</option>
            <option value="EXECUTAT">EXECUTAT</option>
            <option value="SUSPENDAT">SUSPENDAT</option>
            <option value="INCHEIAT">ÎNCHEIAT</option>

          </select>
        </div>
    <div class="ui-g-3">
      <button class="btn btn-default"   style="background-color: white!important;width: 100%" (click)="EditFromDetails()" [disabled]="stateCase != 'INITIAT'">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Editează</span></span>
      </button>
    </div>
    <div class="ui-g-3">
      <button class="btn btn-default"   style="background-color: white!important;width: 100%" (click)="deleteDosar()" [disabled]="stateCase != 'INITIAT'">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-remove"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Șterge</span></span>
      </button>
    </div>
    <!--<div class="col-md-4">-->
      <!--<select class="form-control" name='recommend'>-->
        <!--<option>Executare</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<a class="waves-effect waves-light btn">Editează</a>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<a class="waves-effect waves-light btn" style="float: right">Șterge</a>-->
    <!--</div>-->
  </div>

</div>
<br><br>
<p-tabView>
  <p-tabPanel header="Detalii dosar">
      <div class="ui-g">
        <div class="ui-g-8">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul dosar:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{case_number}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Instituția emitentă:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{nom_emitent_instance}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul documentului executoriu :</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{doc_executor}}</span>
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{created_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data limită de executare :</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{expired_date_case}}</span>
            </div>
          </div>
        </div>

        <!--Solid Border Team-->
        <div class="ui-g-4">
          <div style="border: solid 1px">
            <div class="ui-g">
              <div class="ui-g-5"><span>Executor:</span></div>
              <div class="ui-g-5"><span>Test User</span></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-5"><span>Asistent:</span></div>
              <div class="ui-g-5"><span>Test Asistent</span></div>
            </div>
          </div>
        </div>
        <!--Solid Border Team-->

      </div>

  </p-tabPanel>
  <p-tabPanel header="Participanți">
    <br>
    <p-panel header="Debitor">
      <div class="ui-g">



        <div class="ui-g-6" *ngFor="let deb of debitor_credentials">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
               <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{deb.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.birth_date">IDNP:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.created_date">IDNO:</label>
            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{deb.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub"  *ngIf="deb.birth_date">Data nașterii:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.created_date">Data fondării:</label>
            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" *ngIf="deb.birth_date">{{deb.birth_date}}</span>
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" *ngIf="deb.created_date">{{deb.created_date}}</span>

            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{deb.address}}</span>
            </div>
          </div>
          <hr>
        </div>




        <div class="ui-g-6"></div>
      </div>
    </p-panel>
    <br>
    <p-panel header="Creditor" *ngIf="creditor_credentials != ''">
      <div class="ui-g">
        <div class="ui-g-6" *ngFor="let cred of creditor_credentials">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="cred.birth_date">IDNP:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="cred.created_date">IDNO:</label>

            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data nașterii:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.birth_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{cred.address}}</span>
            </div>
          </div>

        </div>

        <div class="ui-g-6"></div>
      </div>
    </p-panel>
    <br>


    <p-panel header="Copii" *ngIf="childrens != ''">


      <div class="ui-g">
        <div class="ui-g-6" *ngFor="let child of childrens">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">IDNP:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data nașterii:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.birth_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{child.address}}</span>
            </div>
          </div>

        </div>

        <div class="ui-g-6"></div>
      </div>




    </p-panel>
  </p-tabPanel>

  <p-tabPanel header="Documente atașate">
    <div class="ui-g" *ngFor="let file of file_content">
      <div class="ui-g-2">
          <span class="text_file">{{file.doc_type}}</span>
      </div>
      <div class="ui-g-3">
        <span class="text_file">{{file.file_name}}</span>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <a href="{{main_url}}/executor/case/download/{{file.id_document}}" style="background-color: #1e439b;color: white" class="btn btn-default" download> <span style="color: white" class="glyphicon glyphicon-download"></span></a>
        </div>
        <div class="ui-g-6">
          <a style="background-color: red;color: white" class="btn btn-default"> <span style="color: white" class="glyphicon glyphicon-remove"></span></a>
        </div>

      </div>
      <hr>

    </div>
  </p-tabPanel>

  <p-tabPanel header="Plați">

    <br>
    <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt  [paginator]="true"
                 [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>


      <p-column  [style]="{'width':'15%'}" field="Code case" >
        <ng-template pTemplate="header">
          Modalitatea achitării
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">


        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Case" >
        <ng-template pTemplate="header">
          Durata achitării
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">

        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Debitor Name" >
        <ng-template pTemplate="header">
           Suma
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">


        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Creditor Name" >
        <ng-template pTemplate="header">
          Stare
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['creditor_name']}}

        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'20%'}"    >
        <ng-template pTemplate="header">
          Activități
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <button class="btn btn-default"   style="background-color: white!important;width: 25%">
            <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
          </button>
        </ng-template>
      </p-column>
      <!--</p-row>-->
    </p-dataTable>
  </p-tabPanel>

  <p-tabPanel header="Documente create">
    <br>
    <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt  [paginator]="true"
                 [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>


      <p-column  [style]="{'width':'15%'}" field="Code case" >
        <ng-template pTemplate="header">
          Tip document
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">


        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Case" >
        <ng-template pTemplate="header">
          Data
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">

        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Debitor Name" >
        <ng-template pTemplate="header">
          Stare
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">


        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Creditor Name" >
        <ng-template pTemplate="header">
          Responsabil
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['creditor_name']}}

        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'20%'}"    >
        <ng-template pTemplate="header">
          Activități
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <button class="btn btn-default"   style="background-color: white!important;width: 25%">
            <span style="color: #1e439b" class="glyphicon glyphicon-download"></span>
          </button>
          <button class="btn btn-default"   style="background-color: white!important;width: 25%">
            <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
          </button>
          <button class="btn btn-default"   style="background-color: white!important;width: 25%">
            <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
          </button>
        </ng-template>
      </p-column>
      <!--</p-row>-->
    </p-dataTable>
  </p-tabPanel>


  <p-tabPanel header="Istoric acțiuni">
     În curînd
  </p-tabPanel>

</p-tabView>
<p-confirmDialog></p-confirmDialog>
