<nav>
  <div class="nav-wrapper">
    <div class="col-md-2">
    <span class="brand-logo left" style="font-family: 'Segoe UI',sans-serif;font-weight: 200">
      E-executor
    </span>
    </div>
  </div>
</nav>
<div class="container" style="  background: url('../../assets/login_quill.png') no-repeat left;background-size: contain;background-size: 50%">
  <form style="float: right">
    <div class="group">
      <input [(ngModel)]="username" placeholder="Email" name="log" type="text"><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
      <input  [(ngModel)]="password" placeholder="Parola" name="pass" type="password"><span class="highlight"></span><span class="bar"></span>
    </div>
    <button type="button" class="button buttonBlue" (click)="stateLoginAdmin()">Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>

    <footer><a href="/" ><img src="../../assets/coat_of_arms.png"></a>
      <p style="font-family: 'Segoe UI',sans-serif;text-align: center">Ministerul Justitiei</p>
    </footer>
  </form>
</div>

