<p class="case_number">{{case_numberCivil}}</p>
<form-wizard style="float: right">
  <wizard-step [title]="'Document Executoriu'" >

    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-6">
        <form #emailForm="ngForm">
          <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">

            <p-header>
              <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date inițiale</span>
              </div>
            </p-header>
            <div class="ui-g">

              <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
              <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium"> {{state_case}} </span> </div>
            </div>


            <div class="ui-g">

              <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Data creare:</label></div>
              <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 300;font-size: medium"> {{created_date}}</span> </div>
            </div>

            <hr>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul documentului executoriu:</label></div>
              <div class="ui-g-6">
                <input type="text"  class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""  style="height: 2rem;width: 100%;border: solid 1px;border-color: #999999;padding-left: 5px"  required [(ngModel)]="doc_executor">
              </div>
            </div>



            <div class="ui-g">
              <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Instituția emitentă:</label></div>
              <div class="ui-g-6">
                <p-autoComplete name="brand" [(ngModel)]="emitent_instance" field="name" [suggestions]="emitent_resultAutoCompleteCivil" (completeMethod)="filterInst($event)" [size]="40" [style]="{'border-color':'#99999'}"></p-autoComplete>
              </div>
            </div>


            <!--<div class="ui-g">-->
            <!--<div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Data emiterii</label></div>-->
            <!--<div class="ui-g-6">-->

            <!--<mat-form-field>-->
            <!--<input matInput [matDatepicker]="picker" placeholder="Data emiterii" style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" >-->
            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
            <!--<mat-datepicker #picker [startAt]="endDate"></mat-datepicker>-->
            <!--</mat-form-field>-->
            <!--</div>-->
            <!--</div>-->


          </p-panel>

          <p-growl [value]="msgs"></p-growl>
        </form>
        <p-panel  header= "Documente" [toggleable]="false" [style]="{'margin-bottom':'20px'}">


          <div *ngFor="let fileContent of uploadedContent">

            <div class="ui-g" *ngIf="fileContent.is_delete==false">
              <div class="ui-g-6">
                <p>{{fileContent.file_name}}</p>
              </div>


              <div class="ui-g-4">
                <p >{{fileContent.doc_type}}</p>
              </div>

              <div class="ui-g-2">
                <button class="btn btn-default"   style="background-color: rgb(249, 131, 131)!important;!important;float: right" (click)="deleteCaseFileFromArray(fileContent)">
                  <span style="color: #000000" class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
          <hr>
          <div class="ui-g">
            <div class="ui-g-4"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Tip document:</label></div>

            <div class="ui-g-4">
              <select class="form-control" name='recommend' required (change)="onChangeFunction()" [(ngModel)]="choose_file_type">
                <option *ngFor="let type of document_type" [ngValue]="type" [selected]="">
                  {{type.name}}
                </option>
              </select>
            </div>
            <div class="ui-g-4" style="text-align: end" >
              <p-fileUpload id="file" mode="basic" auto="auto" [customUpload]="true" name="file" #cerere_file clear="true" (onSelect)="onSelectFile()" maxFileSize="800000000" chooseLabel="Încarcă"></p-fileUpload>
            </div>
          </div>
          <!--*ngIf="choose_file_type != ''"-->
        </p-panel>

      </div>
      <div class="ui-g-3"></div>
    </div>


  </wizard-step>


  <div class="ui-g">

    <div class="ui-g-3"></div>


    <div class="ui-g-6">
      <wizard-step [title]="'Debitor'" >
        <p-panel  header="Debitor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Debitori solidari:</label></div>
            <div class="ui-g-6">
              <select class="form-control" name='recommend' required [(ngModel)]="index" style="width: 83%;border-radius: 0!important;border-color: #999999" (change)="choosePersonDebitors(index)">
                <option *ngFor="let person of person_debitors" value='{{person.index}}' selected="1">{{person.index}} {{person.first_name}} {{person.last_name}}  {{person.name_org}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="ui-g">
            <div class="ui-g-6">
              <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" *ngIf="type_selected == 'FIZIC'" >IDNP</label>
              <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" *ngIf="type_selected == 'JURIDIC'" >IDNO</label>

            </div>
            <div class="ui-g-4">
              <input type="text" class="form-control"  (keyup)="myFuncDebitorIDNP()" [(ngModel)]="person_debitors[index-1].idnp" maxlength="13"  name="idn_debitor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
            </div>
            <div class="ui-g-2">
              <span style="vertical-align: sub;font-size: small">{{idnp_debitor_autocomplete}}/13</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Tip debitor:</label></div>
            <div class="ui-g-6">
              <select class="form-control" name='recommend' required  [disabled]="stateTypeDebitor" style="width: 83%;border-radius: 0!important;border-color: #999999" [(ngModel)]="type_selected" (change)="changeTypeDebitor(type_selected , index)">
                <option value="FIZIC" selected>Persoana fizica</option>
                <option value="JURIDIC" >Persoana juridica</option>

              </select>
            </div>
          </div>
          <br>





          <div class="ui-g" *ngIf="type_selected == 'JURIDIC'">
            <div class="ui-g-6">
              <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" >Denumirea companiei</label>
            </div>
            <div class="ui-g-6">
              <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].name_org" maxlength="13"  name="idn_debitor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
            </div>
          </div>

          <div *ngIf="type_selected == 'FIZIC'">



            <div class="ui-g" >
              <div class="ui-g-6">
                <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" >Nume</label>
              </div>
              <div class="ui-g-6" >
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].first_name"   name="first_name" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>

            </div>

            <div class="ui-g" >
              <div class="ui-g-6">
                <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" >Prenume</label>
              </div>
              <div class="ui-g-6" >
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].last_name"   name="last_name_debitor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>

            </div>


            <div class="ui-g" >
              <div class="ui-g-6">
                <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" >Patronimic</label>
              </div>
              <div class="ui-g-6" >
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].patronimic"   name="patronimic_debitor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>

            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <label style="vertical-align:sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" *ngIf="type_selected == 'FIZIC'" >Data nașterii</label>
              <label style="vertical-align: sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium" *ngIf="type_selected == 'JURIDIC'" >Data fondării</label>
            </div>
            <div class="ui-g-6">
              <!--<p-calendar [(ngModel)]="person_debitors[index-1].birth_date" tabindex="0" [showIcon]="true" [disabled]="stateType"  readonlyInput="true"></p-calendar>-->
              <mat-form-field>
                <input matInput [matDatepicker]="picker5" disabled class="controll"  name="date" [(ngModel)]="person_debitors[index-1].birth_date"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" >
                <mat-datepicker-toggle matSuffix [for]="picker5" ></mat-datepicker-toggle>
                <mat-datepicker #picker5 [startAt]="endDate" [disabled]="stateTypeDebitor" ></mat-datepicker>
              </mat-form-field>
            </div>
          </div>


          <div *ngIf="type_selected == 'JURIDIC'">
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Oraș</label></div>
              <div class="ui-g-6">
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].city"  name="city_creditor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Strada</label></div>
              <div class="ui-g-6">
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].street"   name="street_creditor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Bloc</label></div>
              <div class="ui-g-3">
                <input type="text" class="form-control" [disabled]="stateTypeDebitor" [(ngModel)]="person_debitors[index-1].block"  name="bloc_creditor" aria-describedby="emailHelp" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
          </div>


          <div *ngIf="type_selected == 'FIZIC'">
            <div class="ui-g">
              <div class="ui-g-6"><label style="vertical-align:sub;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Adresa domiciliu</label></div>
              <div class="ui-g-6">
                <input type="text" class="form-control" [(ngModel)]="person_debitors[index-1].home_address"  name="city_creditor" aria-describedby="emailHelp"  required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Telefon</label></div>
            <div class="ui-g-6">
              <input type="text" class="form-control"  name="code_post" aria-describedby="emailHelp" required style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="person_debitors[index-1].phone">
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Cod poștal</label></div>
            <div class="ui-g-6">
              <input type="text" class="form-control"  name="code_post" aria-describedby="emailHelp" required style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="person_debitors[index-1].post_code">
            </div>
          </div>


        </p-panel>
      </wizard-step>
    </div>

    <div class="ui-g-3"></div>


  </div>



  <div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-6">

      <wizard-step [title]="'Achitari'" >
        <p-panel  header="Achitari" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium"> {{state_case}} </span> </div>
          </div>
          <br>
          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Obiectul executării:</label></div>
            <div class="ui-g-6">
              <select class="form-control" name='executării' required style="width: 83%;border-radius: 0!important;border-color: #999999" [(ngModel)]="execution_name" (change)="change_executionType(execution_name.is_active)">
                <option  *ngFor="let object of object_execution_list" [ngValue]="execution_name.name==object.name ? execution_name:object" > {{object.name}} </option>
              </select>
            </div>
          </div>
          <br>

          <div class="ui-g" *ngIf="object_type_isactiveGet">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Suma:</label></div>
            <div class="ui-g-6">
              <input type="number" [(ngModel)]="amount" class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MDL*" required >

            </div>
          </div>


          <div class="ui-g" >

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Text procedură:</label></div>
            <div class="ui-g-6">
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" style="border-color: #999999;border-radius: 0!important;width: 82%!important;" [(ngModel)]="text_procedura"></textarea>
              </div>
            </div>
          </div>



        </p-panel>
      </wizard-step>
    </div>
    <div class="ui-g-3"></div>

  </div>

  <wizard-step [title]="'Conținut și Intentare'" (onComplete)="finishDosarC($event)">
    <div class="ui-g">
      <div class="ui-g-3"></div>
      <div class="ui-g-6">
        <p-panel  header="Conținut și Intentare" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >

          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium"> {{state_case}} </span> </div>
          </div>
          <!--<div class="ui-g">-->

          <!--<div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Adaugare membru echipă:</label></div>-->
          <!--<div class="ui-g-6">-->
          <!--<select class="form-control" name='recommend' required style="width: 82%;border-color: #999999;border-radius: 0px;">-->
          <!--<option value='option-1'>1</option>-->
          <!--<option value='option-2'>2</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--</div>-->



          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Adaugare membru echipă:</label></div>
            <div class="ui-g-6">

              <div class="radio" style="opacity: 1!important;" *ngFor="let team of case_team">
                <label>
                  <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;margin-left: -6%;" type='checkbox' [(ngModel)]="team.is_selected"  (click)="changeTeamMembers(team)"  multiple/>
                  <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{team.name}} </span>
                </label>
              </div>
            </div>
          </div>


          <br>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Prioritate:</label></div>
            <div class="ui-g-6">

              <div class="radio" style="opacity: 1!important;" *ngFor="let priority of priority_mode">
                <label>
                  <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionChangePriority(priority)" name="priority_name"  [checked]="selectedPriorityID === priority.id" />
                  <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{priority.name}}</span>
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Data limită de executare:</label></div>
            <div class="ui-g-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker3" placeholder="Data limită"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="end_date_case">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <br>


        </p-panel>
      </div>
      <div class="ui-g-3"></div>
    </div>




  </wizard-step>
</form-wizard>
