<div class="row" style="text-align: right;margin-right: 40%;margin-bottom: 0!important;" *ngIf="id">
  <div class="row">
    <div class="col s12">
      License code*
      <div class="input-field inline">
        <input type="text" name="code" class="validate" [(ngModel)]="dateCredentials.code"  >
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Name*
      <div class="input-field inline">
        <input type="text" name="code" class="validate" [(ngModel)]="dateCredentials.name">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Email
      <div class="input-field inline">
        <input  type="email" name="Email" class="validate" [(ngModel)]="dateCredentials.email">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Bank account
      <div class="input-field inline">
        <input  type="number" class="validate" name="bankAcount" [(ngModel)]="dateCredentials.bank_name_id">
        <label data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <br>
    <div class="row" style="vertical-align: baseline;margin-left: 58%;width: 100%">
      <div class="col s1">
        <p style="margin-top: 7%">Bank</p>
      </div>
      <div class="col s5">
        <select class="form-control" name='recommend'>
          <option *ngFor="let bank of banks" value="{{bank.id}}"  [selected]="bank.id == selectedDepartment.bank_name_id" >
            {{bank.name}}
          </option>
        </select>
      </div>
    </div>

  <br>
  <div class="row" style="vertical-align: baseline;margin-left: 58%;width: 100%">
    <div class="col s1">
      <p style="margin-top: 7%">City</p>
    </div>
    <div class="col s5">
      <select class="form-control" name='recommend'>
        <option *ngFor="let city of cities" value="{{city.name}}"  [selected]="city.id == selectedDepartment.city" >
          {{city.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Street
      <div class="input-field inline">
        <input  type="text" class="validate" name="addressa" [(ngModel)]="dateCredentials.addressa">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
    <div class="col s12">
      Block
      <div class="input-field inline">
        <input  type="text" class="validate" name="addressa" [(ngModel)]="dateCredentials.addressa">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Postal code
      <div class="input-field inline">
        <input  type="text" class="validate" name="post_code" [(ngModel)]="dateCredentials.post_code">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      Working hours
      <div class="input-field inline">
        <input  type="text" class="validate" name="hoursw" [(ngModel)]="dateCredentials.hoursw">
        <label  data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      IDNO
      <div class="input-field inline">
        <input  type="number" name="idno" class="validate" [(ngModel)]="dateCredentials.idno">
        <label data-error="wrong" data-success="right"></label>
      </div>
    </div>
  </div>


</div>
<div class="text-center">
  <a class="waves-effect waves-light btn"  (click)="editOrganization()">Save</a>
  <a class="waves-effect waves-light btn" style="background-color: white!important;color: black" routerLink="/adminDashboard/organization">Cancel</a>
</div>
