
<nav style="background-color: #4a89dc!important;height: 85px!important;">
  <div class="nav-wrapper">
    <ul id="dropdown1" class="dropdown-content">
      <li><a routerLink="accountSettings">Settings</a></li>
      <li><a routerLink="">LogOut</a></li>
    </ul>
    <span  class="brand-logo"><img src="../../assets/coat_of_arms.png" style="width: 5%;font-weight: 200" alt="">
      <span style="font-weight: 200;font-family: 'Segoe UI',sans-serif">E-executor</span></span>
    <div href="#!" class="brand-logo center" style="line-height: 1!important;">
      <span class="spannav">{{dash_first}}</span>
      <!--<span class="spannav">Tel. tel/fax 0(22)444444 , 079759697</span>-->
      <br>
      <span class="spannav">{{dash_seconds}} </span>
      <!--<span class="spannav">Executor TEst</span>-->

    </div>
    <ul class="right hide-on-med-and-down" style="margin-top: 0.5%!important;">
      <li><a href="" class="dropdown-button" data-activates="dropdown1"><i class="material-icons" >perm_identity</i></a></li>
      <li><a routerLink="calendar"><i class="material-icons">perm_contact_calendar</i></a></li>
      <li><a href=""><i class="material-icons">notifications</i></a></li>
    </ul>
  </div>
</nav>
<div class="sidebar-overlay"></div>
<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-3" style="padding-left: 0!important;width: 25%!important;padding-right: 0!important;">
    <nav class="navbar navbar-default sidebar" role="navigation" style="height: 100vh" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="routerDash">
              <a routerLink="DosareMele">
                Dosarele Mele
              </a>
            </li>
            <li class="routerDash">
              <a routerLink="dosarePensiiAlimentare" >
                Dosare Pensii Alimentare
              </a>
            </li>
            <li class="routerDash">
              <a routerLink="dosare-civile" >
                Dosare Civile
              </a>
            </li>
            <li class="routerDash">
              <a routerLink="dosareStat">
                Dosare Stat
              </a>
            </li>
            <li class="routerDash">
              <a href="javascript:function() { return false; }">
                Registru Întrării
              </a>
            </li>
            <li class="routerDash">
              <a href="javascript:function() { return false; }">
                Registru Ieșiri
              </a>
            </li>
            <li class="routerDash">
              <a href="javascript:function() { return false; }">
                Registru Servicii
              </a>
            </li>
            <li class="routerDash">
              <a href="javascript:function() { return false; }">
                Rapoarte
              </a>
            </li>
            <li class="divider"></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-9" style="margin-left: 1%!important; padding-left: 0;padding-top: 0!important;padding-right: 0!important;width: 73%">
    <router-outlet></router-outlet>
  </div>
</div>

