<p-growl [value]="msgs"></p-growl>

<div class="row" style="margin-right: -.8570rem;margin-left: -.8575rem;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Dosare Pensii Alimentare</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createOrganization()" style="float: right;margin-top: 1%" >Creare dosar</button>
  </div>
</div>




<p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="usersPa" [paginator]="true"
             [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>


  <p-column  [style]="{'width':'15%'}" field="Code case" >
    <ng-template pTemplate="header">
      Code case
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['code_case']}}

    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}" field="Case" >
    <ng-template pTemplate="header">
       Case
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['case_state']}}

    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}" field="Debitor Name" >
    <ng-template pTemplate="header">
      Debitor name
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['debitor_name']}}

    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}" field="Creditor Name" >
    <ng-template pTemplate="header">
      Creditor name
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['creditor_name']}}

    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'15%'}" field="cuantum" >
    <ng-template pTemplate="header">
      Cuantum
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['cuantum']}}

    </ng-template>
  </p-column>


  <p-column  [style]="{'width':'20%' , 'text-align':'center'}"    >
    <ng-template pTemplate="header">
      Actions
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">

      <button  class="btn btn-default" style="background-color: white!important;width: 25%;text-align: center"  (click)="editSteps(con['id_case'])">
        <span style="color: #1e439b" class="glyphicon glyphicon-edit"  ></span>
      </button>
      <button class="btn btn-default"   style="background-color: white!important;width: 25%" (click)="deleteDosar(con)">
        <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-default"   style="background-color: white!important;width: 25%" (click)="detaliiDosar(con['id_case'])">
        <span style="color: #1e439b" class="glyphicon glyphicon-list" ></span>
      </button>
    </ng-template>
  </p-column>
  <!--</p-row>-->
</p-dataTable>
<p-confirmDialog></p-confirmDialog>


