
<div class="text-left" style="margin-left: 1%">
  <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Profiles</span>

</div>
<br>
<div class="container" style="width: 100%!important;max-width: 100%">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"
               [globalFilter]="gb" #dt [value]="profileData" [paginator]="false"
               [scrollable]="true"   [totalRecords]="total_records" [responsive]="true">

    <p-column  [style]="{'width':'50%'}" field="role_name"  filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Name
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['name']}}
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'50%'}" field="address"  >
      <ng-template pTemplate="header">
        Code
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['code']}}
      </ng-template>
    </p-column>

  </p-dataTable>
</div>

